/* Header kısmı */

*{
    margin: 0px;
    padding: 0px;
}
 
@media screen and (max-width:700px)
        {
            iframe{
                width: 450px;
                
            }

    }





header{
    height: 100px;
    background-color: #3cdb3c;
    margin-top: 75px;
}

.title{
    text-align: center;
    padding: 30px;
}

/* main bölümü */
.card-body-1{
    height: 350px;
    background-color: gray;
}



.card-body-2{
   background-color: gray;
   height: 200px;
}

.card-body-2 h5{
    text-align: center;
    margin-top: 70px;
    text-transform: uppercase;
}

.card-body-2 p{
    text-align: center;
    text-transform: uppercase;
}

footer{
    border-top: 3px solid black;
    margin-top: 40px;
    background-color: gray;
    
}

.footer-item{
    text-align: center;
    padding: 20px;
}


























/* .img-slider{
    float: left;
    width: 700px;
    height: 350px;
    background-color: gray;
}

.fındık-fiyatı{
    
    
    height: 200px;
    float: right;
    background-color: gray;
}

.navigation iframe{
    margin-top: 20px;
}

footer{
    border-top: 3px solid black;
    margin-top: 40px;
    background-color: gray;
    
}

.footer-item{
    text-align: center;
    padding: 20px;
} */